{% extends "base.twig" %}

{% block body %}
<h1>
    Bonsoir :)
</h1>

	{% if is_granted('ROLE_USER') or is_granted('ROLE_NO_VERIFY') %}
		User: {{ user.userIdentifier() }}


		{% set roles = user.getroles(TRUE) %}
		Roles: {{ dump(roles) }}
	{% else %}
		No user logged in.
	{% endif %}

{% endblock %}