{% extends "base.twig" %}

{% block body %}
<h1>
    Bonsoir :)
</h1>

	{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
		User: {{ user.userIdentifier() }}
	{% else %}
		No user logged in.
	{% endif %}

{% endblock %}