{% extends "base.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/home.css') }}"/>
{% endblock %}

{% block title %} Welcome. {% endblock %}

{% block body %}
	<main class="container container-full container-translate">
		<section class="main-content">
			<div class="main-site-title">
				<h1>
					Saucer.
				</h1>

				<p class="sub-main-title">Where good food meets simplicity</p>

				<a class="btn btn-title btn-large" href="{{ path('app_recipes') }}">Recipes</a>
			</div>


			<div class="main-icon">
				<img src="{{ asset('assets/img/icon.png') }}">
			</div>
		</section>
	</main>
{% endblock %}

