<h1>Confirmez votre email.</h1>

<p>
    Votre compte n'est pas encore activé. Pour l'activer, veuillez cliquer sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer l'email</a>.
    Ce lien expire dans environ {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci d'avoir choisi saucer.
</p>
