<h1>Confirm your email.</h1>

<p>
	Your account is not yet activated. To activate it, please click on the link provided bellow: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Thank you for your registration.
</p>
