{% extends 'base.twig' %}

{% block title %} Reset yur password {% endblock %}

{% block body %}
	<main class="container container-full container-translate">
		<h1>Reset your password</h1>

		{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}
			<button class="btn btn-large">Reset password</button>
		{{ form_end(resetForm) }}
	</main>
{% endblock %}
