@import "../../common/vars";
@import "../../common/functions";
@import "../../recipes/index/card";

main.container {

	div.title-row {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			font-size: 1.15rem;
		}
	}

	div.edit-container {
		display: grid;
		grid-template-columns: 1fr 1px 1fr;
		gap: 2rem;
		margin: 2rem 0;

		.single-input {
			@include applyInput($white, $black, $black);
		}

		hr {
			border: none;
			width: 1px;
			height: 100%;
			background-color: darken($white, 20%);
		}
	}



	div.action-btns {
		display: flex;
		align-items: center;

		.btn {
			flex-basis: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			flex-grow: 1;
			margin: 0.5rem 1rem;

			svg {
				margin-right: 0.5rem;
			}

			&:not(button)
			{
				padding: 5px 0;
			}

			&.pwd-reset-btn {
				background-color: $black;
			}

			&.cancel-btn {
				background-color: $sec !important;
			}
		}
	}
}