{# templates/common/header.twig #}

<header>
    <div class="header-container">
		<a href="/">
			<img class="main-icon" src="{{ asset('assets/img/icon.png') }}"  alt="Saucer."/>
		</a>

		<a href="{{ path('app_recipes') }}">Recettes</a>

		{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
			<a href="{{ path('app_profile') }}">Mon profil</a>

			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
				<a href="/admin">Panel admin</a>
			{% endif %}

			<a href="/logout">Logout</a>
		{% else %}
			<a href="/register">
				Register
			</a>

			<a href="/login">
				Login
			</a>
		{% endif %}
    </div>
</header>