@import '../common/vars';

header#main-header {
	$headerContainer: 1000px;

	width: 100vw;
	background: $main;
	color: $white;
	z-index: 9999;
	//box-shadow: 0 0.5rem 1rem -3px rgba(0,0,0,0.3);
	position: sticky;
	top: 0;
	left: 0;


	div.header-container {
		max-width: $headerContainer;
		margin: 0 auto;

		.header-icon {
			display: flex;
			flex-direction: row;
			align-items: center;

			& > * {
				margin: 0 5px;
			}

			img.main-icon {
				max-height: 70px;
			}

			.main-title {
				width: 100%;
				text-align: center;
				font-weight: 500;
				color: black;
				font-size: 1.5rem;
				margin-left: 15px;
				font-family: 'Montserrat', sans-serif;
			}
		}

		nav.header-wrapper {
			&, & div.header-contents {
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			div.header-contents > * {
				margin: 0 15px;
				font-size: 1.25rem;
				color: $black;
			}

			.header-link-icon {
				display: flex;
				flex-direction: column-reverse;
				justify-content: center;
				align-items: center;

				.link-text {
				}


				.link-icon {
					text-align: center;
				}

				svg {
					height: 35px;
					width: 35px;
				}

				&#logout {
					color: #ce1414;
				}

				&#recipes {
					color: $black;
				}
			}
		}
	}
}