{% extends "base.twig"%}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('build/recipes_index.css') }}">
{% endblock %}

{% block body %}

	{% set can_create_recipes = is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

	<main class="container container-full container-translate">
		<div class="title-container">
			<h1>Recipes available</h1>

			{% if(can_create_recipes) %}
				<a class="btn btn-large" href="{{ path('app_recipes_create') }}">New recipe</a>
			{% endif %}
		</div>

		<section id="filters">
			<div data-filter-trigger class="filters-title chip big-chip undeployed">
				<h2 class="prevent">Filters</h2>
				<span class="iconify" data-icon="mdi:filter"></span>
			</div>

			<div data-filters class="hidden">
				{% include "recipes/filters.twig" %}
			</div>

		</section>

		<section id="results">
			<h2>Results</h2>

			<div class="grid-container">
				{% if recipes|length == 0 %}
					<h4>no recipe.</h4>

					{% if(can_create_recipes) %}
						<a class="btn btn-large" href="{{ path('app_recipes_create') }}">New recipe</a>
					{% endif %}
				{% else %}

				<div class="grid-results">
					{% include "recipes/list.twig" %}
				</div>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('build/recipe_index_js.js') }}"></script>
{% endblock %}