@mixin appyChip($bg, $color)
{
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	position: relative;
	align-items: center;
	background-color: $bg;
	color: $color;
	justify-content: space-between;
	text-align: center;
	border-radius: 999px;
	padding: 0.5rem 1rem;

	&.big-chip {
		border-radius: 999px;
		column-gap: 15px;
		padding: 0.75rem 1.5rem;
	}
}

@mixin applyInput($bg, $border, $color)
{
	display: flex;
	flex-direction: column;

	.target-input {
		padding: 3px 7px;
		border: 1.5px solid $border;
		color: $color;
		background-color: transparent;
		border-radius: 5px;
		font-size: 1.05rem;
		transition: all 0.1s;
		box-sizing: content-box;

		&::placeholder {
			color: lighten($color, 70%) !important;
			font-family: 'Open Sans', serif;
		}

		&:focus-visible {
			background-color: darken($bg, 5%);
		}
	}
}